#greet {
    height: 50px;
    background-color: #f5f5dc;
    color: green;
    font-size: 30px;
    box-shadow: 0 1px 2px #fff, 0 -1px 1px #666,
        inset 0 -1px 1px rgba(0, 0, 0, 0.5),
        inset 0 1px 1px rgba(255, 255, 255, 0.8);
}
